rosdomofon:
  email: "machine@example.com"
  password: "your-password"
  sync_interval_minutes: 60
  service_types:
    - Gate
    - VideoSurveillance
    - HouseChat
    - HardwareIntercom
    - SoftwareIntercom
# Basic auth для эндпоинта открытия дверей
auth:
  rosdomofon: "pass"   # логин: rosdomofon, пароль: pass

doors:
  "1":
    url: "http://192.168.1.62/relay_cgi.cgi?type=2&relay=12&on=1&time=1&pwd=&;"
    method: "GET"
    auth_type: "none"
    insecure_tls: false
  "2":
    url: "http://192.168.1.230/cgi-bin/accessControl.cgi?action=openDoor&channel=1&Type=Remote"
    method: "GET"
    auth_type: "digest"
    username: "admin"
    password: "pass"
    insecure_tls: false

sections:
  enabled:
    - cars
    - keys

log_level: "debug"
jwt_secret: "your-secret-key-change-me"